
java 8 > 180
for task project sync: docker installed (and running)
for tasks api extension, subscription: AWS console account
for task subscription: email account

the tasks api extension, subscription also require at the moment: npm, node installed
However, can also be done without this.


