## API Client for Dev Admin

dev-admin.projectKey=
dev-admin.clientId=
dev-admin.clientSecret=
dev-admin.authUrl=
dev-admin.apiUrl=
dev-admin.scopes=
dev-admin.storeKey=

## API Client for store

ctp-store.projectKey=
ctp-store.clientId=
ctp-store.clientSecret=
ctp-store.authUrl=https://auth.europe-west1.gcp.commercetools.com
ctp-store.apiUrl=https://api.europe-west1.gcp.commercetools.com
ctp-store.scopes=manage_discount_codes:projectKey manage_states:projectKey manage_customers:projectKey:storeKey manage_categories:projectKey manage_cart_discounts:projectKey:storeKey manage_import_containers:projectKey manage_tax_categories:projectKey manage_product_selections:projectKey manage_payments:projectKey view_project_settings:projectKey manage_types:projectKey manage_customer_groups:projectKey view_shipping_methods:projectKey manage_connectors_deployments:projectKey manage_stores:projectKey view_published_products:projectKey manage_order_edits:projectKey manage_connectors:projectKey manage_extensions:projectKey manage_orders:projectKey:storeKey manage_subscriptions:projectKey
ctp-store.storeKey=store-key
