## mh-dev-admin

dev-admin.projectKey=
dev-admin.clientId=
dev-admin.clientSecret=
dev-admin.authUrl=
dev-admin.apiUrl=
dev-admin.scopes=
dev-admin.storeKey=


## mh-import-admin


## mh-test-admin
##

## mh-me-client
##
